<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
    <link rel="stylesheet" href="static/style3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="main-menu">
        <ul>
            <li class="menu-item">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; <img   style="width: 120%; margin-left: -75px;" src="static/DELTA-removebg-preview.png" alt="delta"></li>

            <a href="index.html"  style="color: black; text-decoration: none;"><li class="menu-item"><i class="fa fa-home fa-2x"></i>&ensp;&ensp; &ensp;&ensp;HOME </li> </a>
            
            <a href="service.html" style="color: black; text-decoration: none;"><li class="menu-item"><i class="fa fa-th-large fa-2x"></i> &ensp;&ensp;&ensp;&ensp;SERVICE </li> </a>
            
            <a href="about-us.html" style="color: black; text-decoration: none;"><li class="menu-item"><i class="fa fa-users fa-2x"></i>&ensp;&ensp;&ensp; ABOUT US </li> </a>
            
            <a href="login.html" style="color: black; text-decoration: none;"><li class="menu-item"><i class="fa fa-user fa-2x"></i>&ensp;&ensp;&ensp;&ensp; LOGIN </li> </a>
        </ul>
    </div>

    <span class="logo">
        <hr>

        <img src="static/DELTA.png" alt="delta">
        
        <hr id="line2">
    </span>

    <div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>It is a well organised Blood Transfusion Service (BTS) which is a vital component of any health care delivery system.</h3>
					<p>Whenever there is any requirement of blood which the blood banks in the city fail to satisfy, we requested them to forward it over to us.The Blood Donation Agent is to create an e-Information about the donor and organization that are related to donating the blood.</p>
					<p>Every time the donor went to donate, he/she was doubtful about his/her safety. Is this the right place to donate? Am I safe? Will they sell my blood? These questions were raised frequently and there were no sure answers.. Each party blew it's own trumpet. We explored, we studied and we came up with solution. We came up with information that answers the donor's questions and ensures the safest of all donations. The blood banks across the country face a problem in delivering good quality of service to the people. They are many time unable to deliver the gift of life. To ensure safe and sustainable supply of blood it was realized that enrollment of Voluntary Non-remunerative blood donors was a must. People wanted to donate blood. But there was little organized help to conduct camps. </p>
				</div>
				
			</div>
			<div class="image-section">
				<img src="static/DONATE BLOOD, SAVE A LIFE.png">
			</div>
		</div>
	</div>

</body>
</html>