<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="static/style7.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            background-color: aliceblue;
        }

        .header {
            background-color: rgb(241, 11, 11);
        }

        .heading {

            font-size: 2.0 rem;
            line-height: 1.4;
            letter-spacing: 0.5em;
            text-align: center;
            background-color: rgb(238, 230, 206);

            left: 500px;
        }

        .heading img {
            width: 75px;
        }
    </style>
</head>

<body>
    <header class="header">
        <div class="heading">
            <img src="static/DELTA.png" alt="Error loading image">
            <h1>D.E.L.T.A</h1>
            <h6>Donate & Elicit Life To Another</h6>
        </div>

    </header>
    <div class="images"> </div>
    <div class="container">
        <h2>SERVICES</h2>
        <ul >
            <li><a href="donar_request.html" class="active"> DONOR REQUEST DETAILS</a><img src="static/Donate Request.png" alt=""></li>
            <li><a href="near-by-blood.html" class="active">NEAR BY BLOOD BANKS</a><img src="static/Location.png" alt=""></li>
            <li><a href="camp_schedule.html" class="active">CAMP SCHEDULE</a><img src="static/Camp Schedule.png" alt=""></li>
            <li><a href="blood-stock.html" class="active">BLOOD STOCK AVAILABILITY</a><img src="static/Blood Stock.png" alt=""></li>
            <li><a href="ngo-details.html" class="active">NGO DETAILS</a><img src="static/NGO.png" alt=""></li>
            <li><a href="maillist" class="active">MAIL LIST</a><img src="static/mail.png" alt=""></li>
            
        </ul>

    </div>
    <div class="stats">
        <h2>STATISTICS</h2>
        <img src="static/chart.png" alt="Error loading stats">
        <img src="static/chart-2.png" alt="Error loading stats">
    </div>

    <div class="info">
        <h2>Who can Donate Whom</h2>
        <div class="table-wrapper">
            <table class="b_table">
                <thead>
                    <tr>
                        <th>Blood Type</th>
                        <th>Donate Blood To</th>
                        <th>Receive Blood From</th>
                    </tr>


                </thead>
                <tbody>
                    <tr>
                        <td>A+</td>
                        <td>A+ AB+</td>
                        <td>A+ A- O+ O-</td>
                    </tr>

                    <tr>
                        <td>O+</td>
                        <td>O+ A+ B+ AB+</td>
                        <td>O+ O-</td>
                    </tr>

                    <tr>
                        <td>B+</td>
                        <td>B+ AB+</td>
                        <td>B+ B- O+ O-</td>
                    </tr>
                    <tr>
                        <td>AB+</td>
                        <td>AB+</td>
                        <td>Everyone</td>
                    </tr>

                    <tr>
                        <td>A-</td>
                        <td>A+ A- AB+ AB-</td>
                        <td>A- O-</td>
                    </tr>
                    <tr>
                        <td>O-</td>
                        <td>Everyone</td>
                        <td>O-</td>
                    </tr>
                    <tr>
                        <td>B-</td>
                        <td>B+ B- AB+ AB-</td>
                        <td>B- O-</td>
                    </tr>

                    <tr>
                        <td>AB-</td>
                        <td>AB+ AB-</td>
                        <td>AB- A- B- O-</td>
                    </tr>



                </tbody>
            </table>
        </div>

        <div class="info">
            <h2>Blood-Donation: Information and Measures</h2>
            <section>
                <details class="subtopic">
                    <summary>History</summary>
                    <br> Charles Richard Drew (June 3, 1904 – April 1, 1950) was an American surgeon and medical
                    researcher.
                    He researched in the field of blood transfusions, developing improved techniques for blood storage,
                    and applied his expert knowledge to developing large-scale blood banks early in World War II. This
                    allowed medics to save thousands of lives of the Allied forces. As the most prominent African
                    American in the field, Drew protested against the practice of racial segregation in the donation of
                    blood, as it lacked scientific foundation, and resigned his position with the American Red Cross,
                    which maintained the policy until 1950.

                </details>


                <details class="subtopic">

                    <summary>Types Of Donation</summary>
                    <br>
                    <p> The human body contains five liters of blood, which is made of several useful components i.e.
                        Whole
                        blood, Platelet, and Plasma.

                        Each type of component has several medical uses and can be used for different medical
                        treatments. your
                        blood donation determines the best donation for you to make.

                        For plasma and platelet donation you must have donated whole blood in past two years.</p>
                    <details>
                        <summary> <br> Whole blood: </summary>
                        <p>1.What is it?
                            <br>Blood Collected straight from the donor after its donation usually separated into red
                            blood cells,
                            platelets, and plasma.
                        </p>

                        <p> 2.Who can donate?
                            <br>You need to be 18-65 years old, weigh 45kg or more and be fit and healthy.
                        </p>

                        <p>3.User For?
                            <br>Stomach disease, kidney disease, childbirth, operations, blood loss, trauma, cancer,
                            blood diseases,
                            haemophilia, anemia, heart disease.
                        </p>

                        <p> 4.Lasts For?
                            <br>Red cells can be stored for 42 days.
                        </p>

                        <p> 5.How long does it take?
                            <br> 15 minutes to donate.
                        </p>

                        <p> 6.How often can I donate?
                            <br>Every 12 weeks
                        </p>
                    </details>
                    <details>
                        <summary> <br> Plasma: </summary>
                        <p> 1.What is it?
                            <br> The straw-coloured liquid in which red blood cells, white blood cells, and platelets
                            float in.Contains
                            special nutrients which can be used to create 18 different type of medical products to treat
                            many
                            different medical conditions.
                        </p>

                        <p> 2.Who can donate?
                            <br> You need to be 18-70 (men) or 20-70 (women) years old, weigh 50kg or more and must have
                            given successful
                            whole blood donation in last two years.
                        </p>

                        <p> 3.User For?
                            <br> Immune system conditions, pregnancy (including anti-D injections), bleeding, shock,
                            burns, muscle and
                            nerve conditions, haemophilia, immunisations.
                        </p>

                        <p> 4.Lasts For?
                            <br> Plasma can last up to one year when frozen.
                        </p>

                        <p>5.How does it work?
                            <br> We collect your blood, keep plasma and return rest to you by apheresis donation.
                        </p>

                        <p> 6.How long does it take?
                            <br> 15 minutes to donate.
                        </p>

                        <p> 7.How often can I donate?
                            <br> Every 2-3 weeks.
                        </p>
                    </details>
                    <details>
                        <summary> <br> Platelet: </summary>
                        <p> 1.What is it?
                            <br> The tiny 'plates' in blood that wedge together to help to clot and reduce bleeding.
                            Always in high
                            demand, Vital for people with low platelet count, like malaria and cancer patients.
                        </p>

                        <p> 2.Who can donate?
                            <br>You need to be 18-70 years old (men), weigh 50kg or more and have given a successful
                            plasma donation in
                            the past 12 months
                        </p>

                        <p>3.User For?
                            <br> Cancer, blood diseases, haemophilia, anaemia, heart disease, stomach disease, kidney
                            disease,
                            childbirth, operations, blood loss, trauma, burns.
                        </p>

                        <p> 4.Lasts For?
                            <br> Just five days..
                        </p>

                        <p> 5.How does it work?
                            <br> We collect your blood, keep platelet and return rest to you by apheresis donation.
                        </p>

                        <p> 6.How long does it take?
                            <br> 45 minutes to donate.
                        </p>

                        <p> 7.How often can I donate?
                            <br> Every 2 weeks
                        </p>

                    </details>
                </details>
                <details class="subtopic">
                    <summary>Amazing Facts on Blood Donation</summary>
                   <li> 4.5 million Americans will a need blood transfusion each year.</li>
                   <li>43,000 pints: amount of donated blood used each day in the U.S. and Canada.</li> 
                   <li> Someone needs blood every two seconds.</li> 
                   <li> Only 37 percent of the U.S. population is eligible to donate blood - less than 10 percent do
                    annually.**</li> 
                   <li> About one in seven people entering a hospital need blood.</li> 
                   <li> One pint of blood can save up to three lives.</li> 
                   <li> Healthy adults who are at least 17 years old, and at least 110 pounds may donate about a pint of
                    blood - the most common form of donation - every 56 days, or every two months. Females receive 53
                    percent of blood transfusions; males receive 47 percent.</li> 
                   <li> 94 percent of blood donors are registered voters.</li> 
                   <li>Four main red blood cell types: A, B, AB and. </li> 
                   <li> Each can be positive or negative for the Rh factor.</li> 
                   <li> AB is the universal recipient; O negative is the universal donor of red blood cells.</li> 
                   <li> Dr. Karl Landsteiner first identified the major human blood groups - A, B, AB and O - in 1901.</li> 
                   <li> One unit of blood can be separated into several components: red blood cells, plasma, platelets and
                    cryoprecipitate.</li> 
                   <li>Red blood cells carry oxygen to the body's organs and tissues.</li> 
                   <li> Red blood cells live about 120 days in the circulatory system.</li> 
                   <li>Platelets promote blood clotting and give those with leukemia and other cancers a chance to live.</li> 
                   <li> Plasma is a pale yellow mixture of water, proteins and salts.</li> 
                   <li> Plasma, which is 90 percent water, makes up 55 percent of blood volume.</li> 
                   <li> Healthy bone marrow makes a constant supply of red cells, plasma and platelets.</li> 
                   <li> Blood or plasma that comes from people who have been paid for it cannot be used to human
                    transfusion.</li> 
                   <li>Granulocytes, a type of white blood cell, roll along blood vessel walls in search of bacteria to
                    engulf and destroy.</li> 
                   <li> White cells are the body's primary defense against infection.</li> 
                   <li> Apheresis is a special kind of blood donation that allows a donor to give specific blood components,
                    such as platelets.</li> 
                   <li> Forty-two days: how long most donated red blood cells can be stored.
                   <li> Five days: how long most donated platelets can be stored.
                   <li> One year: how long frozen plasma can be stored.
                   <li> Much of today's medical care depends on a steady supply of blood from healthy donors.
                   <li>Three pints: the average whole blood and red blood cell transfusion.*</li> 
                   <li> Children being treated for cancer, premature infants and children having heart surgery need blood
                    and platelets from donors of all types, especially type O.</li> 
                   <li> Anemic patients need blood transfusions to increase their red blood cell levels.</li> 
                   <li> Cancer, transplant and trauma patients, and patients undergoing open-heart surgery may require
                    platelet transfusions to survive.</li> 
                   <li> Sickle cell disease is an inherited disease that affects more than 80,000 people in the United
                    States, 98 percent of whom are of African descent.</li> 
                </details>
            </section>

        </div>



        <div v-scope>

            <div class="main-menu">
                <ul>
                    <li class="menu-item">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; <img
                            style="width: 120%; margin-left: -75px;" src="static/DELTA-removebg-preview.png"
                            alt="delta"></li>

                    <a href="index.html" style="color: black; text-decoration: none;">
                        <li class="menu-item"><i class="fa fa-home fa-2x"></i>&ensp;&ensp; &ensp;&ensp;HOME </li>
                    </a>

                    <a href="service.html" style="color: black; text-decoration: none;">
                        <li class="menu-item"><i class="fa fa-th-large fa-2x"></i> &ensp;&ensp;&ensp;&ensp;SERVICE </li>
                    </a>

                    <a href="about-us.html" style="color: black; text-decoration: none;">
                        <li class="menu-item"><i class="fa fa-users fa-2x"></i>&ensp;&ensp;&ensp; ABOUT US </li>
                    </a>

                    <a href="login.html" style="color: black; text-decoration: none;">
                        <li class="menu-item"><i class="fa fa-user fa-2x"></i>&ensp;&ensp;&ensp;&ensp; LOGIN </li>
                    </a>
                </ul>
            </div>
        </div>
        <footer>
            <div class="footer-cont">
                <div class="footer">
                    <div class="footer-heading f-1">
                        <h3>Our Services</h3>

                        <ul class=>
                          <li><a href="donar_request.html" class="active"> DONOR REQUEST DETAILS</a></li>
                          <li><a href="near-by-blood.html" class="active">NEAR BY BLOOD BANKS</a></li>
                          <li><a href="camp_schedule.html" class="active">CAMP SCHEDULE</a></li>
                          <li><a href="blood-stock.html" class="active">BLOOD STOCK AVAILABILITY</a></li>
                          <li><a href="ngo-details.html" class="active">NGO DETAILS</a></li>
                       </ul>
                    </div>

                    <div class="footer-heading f-2">
                        <h3>Contact Us</h3>

                        <ul class=>
                          <li><a href="#" class="active"> Ph No: 9988223340</a></li>
                          <li><a href="#" class="active"> <E-Mail> Deltaorg@gmail.com</E-Mail></a></li>
                       </ul>
                    </div>

                    <div class="footer-heading f-3">
                        <h3>Social Media</h3>

                        <ul class=>
                          <li><a href="#" class="active"> Facebook</a></li>
                          <li><a href="#" class="active">Instagram</a></li>
                          <li><a href="#" class="active">Twitter</a></li>
                       </ul>
                    </div>

                </div>
            </div>
        </footer>
</body>

</html>