<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGO DETAILS</title>
    <link rel="stylesheet" href="static/style8.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="ngo">
    <div class="main-menu">
        <ul>
            <li class="menu-item">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; <img
                    style="width: 120%; margin-left: -75px;" src="static/DELTA-removebg-preview.png" alt="delta"></li>

            <a href="index.html" style="color: black; text-decoration: none;">
                <li class="menu-item"><i class="fa fa-home fa-2x"></i>&ensp;&ensp; &ensp;&ensp;HOME </li>
            </a>

            <a href="service.html" style="color: black; text-decoration: none;">
                <li class="menu-item"><i class="fa fa-th-large fa-2x"></i> &ensp;&ensp;&ensp;&ensp;SERVICE </li>
            </a>

            <a href="about-us.html" style="color: black; text-decoration: none;">
                <li class="menu-item"><i class="fa fa-users fa-2x"></i>&ensp;&ensp;&ensp; ABOUT US </li>
            </a>

            <a href="login.html" style="color: black; text-decoration: none;">
                <li class="menu-item"><i class="fa fa-user fa-2x"></i>&ensp;&ensp;&ensp;&ensp; LOGIN </li>
            </a>
        </ul>
    </div>

    <div class="donar-logo5">

        <img id="donar-position5" src="static/NGO.png" alt="ngo details">

        <span>
            <h2>NGO Details</h2>
        </span>
    </div>

    <div class="info1">
  
        <h2>Basic information</h2>
        <h3> What Is an NGO?</h3>
        <p> A non-governmental organization (NGO) is a non-profit group that functions independently of any government.
            NGOs, sometimes called civil societies, are organized on community, national and international levels to
            serve a
            social or political goal such as humanitarian causes or the environment.</p>

      <h3>How NGOs are Funded?</h3>  
      <p>  As non-profits, NGOs rely on a variety of sources for funding, including:

     <br>  <li> membership dues</li>
       <li> private donations</li>
       <li> the sale of goods and services</li>
       <li>grants</li>
        <br> <p> Despite their independence from governments, some NGOs rely heavily on government funding. Large NGOs may have
        budgets in the millions or billions of dollars.</p>
    </div>

    <div class="info1">
        <h2>Major NGO's related to Blood Donation in India</h2>
        <h3>1. The Indian Red Cross Society (IRCS)</h3>
        <br>
        <p>The first Blood Bank was started in India by Indian Red Cross Society (IRCS) in 1942 at All India Institute
            of Hygiene & Public Health, Calcutta (West Bengal).</p>

        <p> In 1977, the blood bank started operating from the Indian Red Cross Society, National Headquarters (IRCS,
            NHQ). The Blood Bank runs round the clock and provides services to needy patients.</p>

        <p> The IRCS NHQ Blood Bank collects about 25000 units of blood annually which amounts to about 10% of the total
            blood collected in Delhi. The IRCS (NHQ) Blood Bank is fully equipped to collect blood at its premises and
            also has mobile vans, which go out frequently to hold Blood Donation Camps. In the COVID-19 enforced
            lockdown, IRCS started conducting blood donation camps by sending mobile vans to different areas of Delhi as
            early as 13th April 2020. The blood bank provides 90% of the total collection of blood free of service
            charges to the patients admitted in the General Ward of Govt. Hospitals in Delhi as well as to 975
            Thalassemic patients registered with it (which is about 50% of all the Thalassemics in Delhi).</p>

        <br>
        <h3> 2. Bloodconnect</h3>

        <p> Bloodconnect started with a helpline for blood donation but now provides a 360-degree solution to the
            problem of blood shortage in the country.</p>

        <p> NSS IIT Delhi launched BloodConnect on 1st April 2010 with an objective of solving the problem of blood
            shortage in India. India can meet all its blood needs if an additional 2% of India’s youth donates blood.
            Bloodconnect is completely youth-run organisation and has established a channel connecting blood donors to
            those who need blood</p>

        <p> They run a 24X7 blood-helpline manned by volunteer college students who handle the request and manage the
            donor database. They also conduct various awareness drives in the form of street plays and competitions to
            encourage people to donate blood. The Bloodconnect initiative has helped save thousands of lives over the
            past decade</p>

        <br>
        <h3> 3. Sankalp India Foundation</h3>

        <br>
        <p> Rakta Kranti, an initiative by Sankalp India Foundation aims to bring in 100% voluntary blood donation and
            ensure continuous availability of safe blood. The Sankalp India Foundation Team has collected over 100,000
            units of blood since inception by organizing over 1000 blood donation camps. Sankalp India Foundation
            deserves special accolades for arranging 65-70% of their yearly collection during the critical blood
            shortage period i.e. April – July and November – January.</p>

        <p> They also run Disha – A blood helpline which serves as the first point of contact for blood emergencies.
            They collate data from 65 blood banks across Karnataka on a daily basis and help people directly to the
            nearest blood bank. The Emergency Team also maintains www.bombaybloodgroup.org an initiative for wholesome
            management of Bombay blood groups – an extremely rare blood type. The Foundation is always in the news
            nationally as well as Internationally for meeting the needs of this rare blood group.</p>
    </div>


    <div class="info">
        <div class="table-wrapper"></div>
        <h2>Contact Information of NGO's for Blood Donation in India</h2>

        <table class="b_table" id="myTable">
            <thead>
                <tr>
                    <th>NGO Name</th>
                    <th>State</th>
                    <th>District</th>
                    <th>Address</th>
                    <th>Phone No.</th>
                </tr>


            </thead>
            <tbody>

                <tr>
                    <td>Astha Sevabhavi Sanstha </td>
                    <td>Maharashtra</td>
                    <td>Thane</td>
                    <td>Hariprasad, shivaji nagar, ward no-2, shegaon- 444203</td>
                    <td>09595351242</td>
                </tr>
                <tr>
                    <td>Bhartiya Swatantra Patrkar Association</td>
                    <td>Delhi </td>
                    <td>Delhi </td>
                    <td>B-5/312, B-Block Yamuna Vihar ,Delhi 110053</td>
                    <td>8010884848</td>
                </tr>
                <tr>
                    <td>Creative Social Organisation </td>
                    <td> Gujarat</td>
                    <td>AHMEDABAD</td>
                    <td>H.O.-greenwood avenue,c-3,opp.sumeru bungalow,ramdevnagar,satellite,Ahmedabad-380015</td>
                    <td>9725019028</td>
                </tr>
                <tr>
                    <td>GOLDEN STAR CLUB</td>
                    <td>Assam </td>
                    <td>dibrugarh</td>
                    <td>chaulkhowa P.O-lahoal dist dibrugarh assam</td>
                    <td>9085999235</td>
                </tr>
                <tr>
                    <td>GYANODAYSH IKSHASAMIT I</td>
                    <td>Rajasthan</td>
                    <td>bhilwara</td>
                    <td>opp. taxi stand no.1,near session court, bhilwara,rajasthan-313001</td>
                    <td>9414161486</td>
                </tr>
                <tr>
                    <td>KISHAN SEWA SANSTHAN</td>
                    <td>Uttar Pradesh</td>
                    <td>Ballia </td>
                    <td>Vill+Post- Nagawa District- Ballia Pincode-277401</td>
                    <td>09936283077</td>
                </tr>
                <tr>
                    <td>MAHATMAGANDHI VICHAR SANVARDHAN SANSTHA RAMTEK</td>
                    <td> Maharashtra</td>
                    <td>ramtek </td>
                    <td>Mahatma gandhi vichar sanvardhan sanstha ramtek 441106</td>
                    <td>09422114657</td>
                </tr>
                <tr>
                    <td>MEMARI HANDICAPPED SOCIAL WELFARE SOCIETY</td>
                    <td>West Bengal</td>
                    <td> Memari </td>
                    <td>Mayerkole Para, P.O.+P.S.-Memari,pin-713146, W.B.</td>
                    <td>09734634622</td>
                </tr>
                <tr>
                    <td>MRUTUNJAY YUVA BAHU UDDEYSHEY PRATISTHAN</td>
                    <td>Maharashtra</td>
                    <td>PATHARDI</td>
                    <td>AT.PO. BANK COLONY KOARADGAON ROAD PATHARDI</td>
                    <td>9422166409</td>
                </tr>
                <tr>
                    <td>PEOPLES DEVELOPMENT TRUST</td>
                    <td>Jammu and Kashmir</td>
                    <td>Srinagar</td>
                    <td>Aslam Kathwari House near New Era Public School Rajbagh. Lane No: 2 Pin code: 190001</td>
                    <td>09419076251</td>
                </tr>
                <tr>
                    <td>ROSHANI TRUST VALOD </td>
                    <td>Gujarat</td>
                    <td>Valod</td>
                    <td>Roshani Trust,Valod C/o Mr.Mukesh Patel Near.Gandhi Vidhyapith Vedchhi Ta-Valod, Dist- Tapi
                        Pin-394640</td>
                    <td>9825906097</td>
                </tr>
                <tr>
                    <td>SANSKAR FOUNDATION AKOLA </td>
                    <td>Maharashtra</td>
                    <td>Akola</td>
                    <td>Sanskar Foundation C/o Shri Vasantrao Gavande,
                        Nityanand Nagar, Behind Jai-Bhole floor mill, Gorakshan Road Pincode 444004</td>
                    <td>9326181505</td>
                </tr>
                <tr>
                    <td>SATYAM SHANTI TRUST</td>
                    <td>Orissa</td>
                    <td>Cuttack</td>
                    <td>At - Balichaturi (Bandalo), PO - Chasapada, Via - Choudwar, Pin - 754027</td>
                    <td>9439483795</td>
                </tr>
                <tr>
                    <td>SHREE BALAJI SEVA TRUST</td>
                    <td>Gujarat</td>
                    <td>HIMMATNAGAR</td>
                    <td>U/C-11, SHREE BALAJI SEVA TRUST, NEW DURGA BAZAR, HIMATNAGAR - 383001.</td>
                    <td>9099301251</td>
                </tr>
                <tr>
                    <td>Shree Sai Vishnu Bahuuddeshiya Shikshan Sanstha</td>
                    <td>Maharashtra</td>
                    <td>Nagpur</td>
                    <td>Hanuman Galli, Sitabuldi, Nagpur - 440 012</td>
                    <td>09881555609</td>
                </tr>
                <tr>
                    <td>Vatsa Bal Mahila Kalyan Shaikshanik Samiti</td>
                    <td>Madhya Pradesh</td>
                    <td>VIDISHA</td>
                    <td>VATSA BAL MAHILA KALYAN SHAIKSHANIK SAMINI RAMESH CHAND SHARMA KA MAKAN ,BIHAIND GOVERMENT
                        HOSPITAL KAGADIPURA VIDISHA PIN 464001</td>
                    <td>9406537040</td>
                </tr>

                <tr>
                    <td>WIN VOLUNTARY ORGANISATION </td>
                    <td>Andhra Pradesh</td>
                    <td>machilipatnam</td>
                    <td>WIN VOLUNTARY ORGANISATION C/O. P. Ravindra Kumar Door No - 15-2007-17, DevuduCheruvu,Anadapet,
                        Machilipatnam, Krishna Dist - 521002</td>
                    <td>9293742495</td>
                </tr>
                <tr>
                    <td>YASH KRIDA MANDAL KHADKI</td>
                    <td>Maharashtra</td>
                    <td>Bhandara </td>
                    <td>At Khadki Post Palora Th Mohadi Dist Bhandara 441905</td>
                    <td>9730559415
                    </td>
                </tr>

                <tr>
                    <td>YASHODEEP YUVA SANSKRUTIK</td>
                    <td>Maharashtra</td>
                    <td>solapur</td>
                    <td>C/179, rajswa nagar, bijapur road, solapur. 413004
                    </td>
                    <td>9922888007
                    </td>
                </tr>

                <!-- <tr>
                <td></td>
                <td></td>
                <td> </td>
                <td></td>
                <td></td>
            </tr> -->




            </tbody>


        </table>
    </div>
</body>

</html>