<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <script>
            setTimeout(function(){
               window.location.href = 'http://127.0.0.1:5000/';
            }, 10000);
         </script>




<p> Your request is recieved and we are notifying all the users in your area about your request for more information reach out to us at support@delta.tarang.ovh</p>
<br>
<pr>you will be redirected to our homepage in 10 seconds .....</pr>


    </body>
</html>